*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
nav,div,span{
    /* border: 1px solid red; */
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: white;
    z-index: 2;
}
.header-item{
    text-decoration: none;
    padding: 8px 15px;
    letter-spacing: 1.6px;
}
.BR{
    font-weight: 800;
}
.banner{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    
}
.banner-logo{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    margin: 12px;
    padding: 10px;

   
}
.banner-logo span{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 14px 19px;
    background-color: rgb(12, 12, 12);
    color: white;
    opacity: 0.75;
}
.banner-logo p{
 
    color: white;
    font-size: 32px;
    letter-spacing: 4px;
    margin-left: 15px;
}

.main_margin{
    margin: 35px 0 0 0;
    padding: 20px 39px;
}
.main-padding{
    padding: 20px 39px;

}

hr{
    width: 95%;
    margin:0px auto;
   
}


.row-padding{
    padding: 0px 28px;
}
.colpadding{
    padding: 0px 6px;
    margin-bottom: 10px;
    display: inline-block;
    width: 24.7%;
}
.display-container{
    position: relative;
}

.mini-banner{
   position: absolute;
   top: 0;
   left: 0;
   color: white;
   background-color: black;
   padding: 9px;
}
.contact-margin-padding{
    
}
